<table summary="Euro foreign exchange reference rates as at 14 November 2014" id="forex-table" class="tablesorter"> 
<caption class="small">All currencies quoted against the euro (base currency)</caption> 
<thead> 
<tr> 
<th abbr="Currency" id="aa" colspan="2" class="header headerSortUp">Currency</th> 
<th abbr="spot: " id="ac">Spot</th> 
<th id="ad">Charts</th> 
<th id="rssdata">RSS</th> 
</tr> 
</thead>
<tbody> 
	

<tr class=""> 
<td headers="aa" id="ZAR">ZAR</td> 
<td headers="ab" class="alignLeft">South African rand </td> 
<td headers="ac" class="spot"><span class="rate">13.9236</span><span class="trend"><img src="../shared/img/down.gif" width="9" height="9" alt="down" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-zar.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="ZAR" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-zar.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="USD">USD</td> 
<td headers="ab" class="alignLeft">US dollar </td> 
<td headers="ac" class="spot"><span class="rate">1.2436</span><span class="trend"><img src="../shared/img/down.gif" width="9" height="9" alt="down" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-usd.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="USD" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-usd.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class=""> 
<td headers="aa" id="TRY">TRY</td> 
<td headers="ab" class="alignLeft">Turkish lira </td> 
<td headers="ac" class="spot"><span class="rate">2.7905</span><span class="trend"><img src="../shared/img/down.gif" width="9" height="9" alt="down" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-try.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="TRY" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-try.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="THB">THB</td> 
<td headers="ab" class="alignLeft">Thai baht </td> 
<td headers="ac" class="spot"><span class="rate">40.865</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-thb.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="THB" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-thb.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class=""> 
<td headers="aa" id="SGD">SGD</td> 
<td headers="ab" class="alignLeft">Singapore dollar </td> 
<td headers="ac" class="spot"><span class="rate">1.6158</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-sgd.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="SGD" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-sgd.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="SEK">SEK</td> 
<td headers="ab" class="alignLeft">Swedish krona </td> 
<td headers="ac" class="spot"><span class="rate">9.2376</span><span class="trend"><img src="../shared/img/down.gif" width="9" height="9" alt="down" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-sek.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="SEK" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-sek.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr> 
<td headers="aa" id="RUB">RUB</td> 
<td headers="ab" class="alignLeft">Russian rouble </td> 
<td headers="ac" class="spot"><span class="rate">58.8280</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-rub.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="RUB" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-rub.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="RON">RON</td> 
<td headers="ab" class="alignLeft">New Romanian leu <sup>1</sup></td> 
<td headers="ac" class="spot"><span class="rate">4.4275</span><span class="trend"><img src="../shared/img/down.gif" width="9" height="9" alt="down" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-ron.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="RON" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-ron.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr> 
<td headers="aa" id="PLN">PLN</td> 
<td headers="ab" class="alignLeft">Polish zloty </td> 
<td headers="ac" class="spot"><span class="rate">4.2295</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-pln.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="PLN" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-pln.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="PHP">PHP</td> 
<td headers="ab" class="alignLeft">Philippine peso </td> 
<td headers="ac" class="spot"><span class="rate">56.010</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-php.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="PHP" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-php.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class=""> 
<td headers="aa" id="NZD">NZD</td> 
<td headers="ab" class="alignLeft">New Zealand dollar </td> 
<td headers="ac" class="spot"><span class="rate">1.5829</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-nzd.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="NZD" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-nzd.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="NOK">NOK</td> 
<td headers="ab" class="alignLeft">Norwegian krone </td> 
<td headers="ac" class="spot"><span class="rate">8.4530</span><span class="trend"><img src="../shared/img/down.gif" width="9" height="9" alt="down" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-nok.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="NOK" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-nok.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr> 
<td headers="aa" id="MYR">MYR</td> 
<td headers="ab" class="alignLeft">Malaysian ringgit </td> 
<td headers="ac" class="spot"><span class="rate">4.1769</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-myr.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="MYR" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-myr.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="MXN">MXN</td> 
<td headers="ab" class="alignLeft">Mexican peso </td> 
<td headers="ac" class="spot"><span class="rate">16.9441</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-mxn.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="MXN" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-mxn.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class=""> 
<td headers="aa" id="LTL">LTL</td> 
<td headers="ab" class="alignLeft">Lithuanian litas </td> 
<td headers="ac" class="spot"><span class="rate">3.4528</span><span class="trend"><img src="../shared/img/eq.gif" width="9" height="9" alt="eq" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-ltl.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="LTL" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-ltl.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="KRW">KRW</td> 
<td headers="ab" class="alignLeft">South Korean won </td> 
<td headers="ac" class="spot"><span class="rate">1372.11</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-krw.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="KRW" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-krw.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class=""> 
<td headers="aa" id="JPY">JPY</td> 
<td headers="ab" class="alignLeft">Japanese yen </td> 
<td headers="ac" class="spot"><span class="rate">144.94</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-jpy.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="JPY" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-jpy.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="ISK">ISK</td> 
<td headers="ab" class="alignLeft">Icelandic krona - The last rate was published on 3 Dec 2008.</td> 
<td headers="ac">&nbsp;</td> 
<td headers="ad" class="w5">&nbsp;</td> 	
<td headers="rssdata" class="w5">&nbsp;</td> 
</tr><tr class=""> 
<td headers="aa" id="INR">INR</td> 
<td headers="ab" class="alignLeft">Indian rupee </td> 
<td headers="ac" class="spot"><span class="rate">76.8735</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-inr.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="INR" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-inr.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="ILS">ILS</td> 
<td headers="ab" class="alignLeft">Israeli shekel </td> 
<td headers="ac" class="spot"><span class="rate">4.7468</span><span class="trend"><img src="../shared/img/down.gif" width="9" height="9" alt="down" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-ils.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="ILS" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-ils.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class=""> 
<td headers="aa" id="IDR">IDR</td> 
<td headers="ab" class="alignLeft">Indonesian rupiah </td> 
<td headers="ac" class="spot"><span class="rate">15207.35</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-idr.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="IDR" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-idr.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="HUF">HUF</td> 
<td headers="ab" class="alignLeft">Hungarian forint </td> 
<td headers="ac" class="spot"><span class="rate">306.12</span><span class="trend"><img src="../shared/img/down.gif" width="9" height="9" alt="down" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-huf.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="HUF" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-huf.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class=""> 
<td headers="aa" id="HRK">HRK</td> 
<td headers="ab" class="alignLeft">Croatian kuna </td> 
<td headers="ac" class="spot"><span class="rate">7.6703</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-hrk.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="HRK" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-hrk.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="HKD">HKD</td> 
<td headers="ab" class="alignLeft">Hong Kong dollar </td> 
<td headers="ac" class="spot"><span class="rate">9.6436</span><span class="trend"><img src="../shared/img/down.gif" width="9" height="9" alt="down" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-hkd.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="HKD" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-hkd.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class=""> 
<td headers="aa" id="GBP">GBP</td> 
<td headers="ab" class="alignLeft">Pound sterling </td> 
<td headers="ac" class="spot"><span class="rate">0.79440</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-gbp.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="GBP" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-gbp.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="DKK">DKK</td> 
<td headers="ab" class="alignLeft">Danish krone </td> 
<td headers="ac" class="spot"><span class="rate">7.4434</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-dkk.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="DKK" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-dkk.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class=""> 
<td headers="aa" id="CZK">CZK</td> 
<td headers="ab" class="alignLeft">Czech koruna </td> 
<td headers="ac" class="spot"><span class="rate">27.653</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-czk.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="CZK" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-czk.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="CNY">CNY</td> 
<td headers="ab" class="alignLeft">Chinese yuan renminbi </td> 
<td headers="ac" class="spot"><span class="rate">7.6230</span><span class="trend"><img src="../shared/img/down.gif" width="9" height="9" alt="down" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-cny.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="CNY" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-cny.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class=""> 
<td headers="aa" id="CHF">CHF</td> 
<td headers="ab" class="alignLeft">Swiss franc </td> 
<td headers="ac" class="spot"><span class="rate">1.2015</span><span class="trend"><img src="../shared/img/down.gif" width="9" height="9" alt="down" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-chf.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="CHF" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-chf.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="CAD">CAD</td> 
<td headers="ab" class="alignLeft">Canadian dollar </td> 
<td headers="ac" class="spot"><span class="rate">1.4155</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-cad.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="CAD" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-cad.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class=""> 
<td headers="aa" id="BRL">BRL</td> 
<td headers="ab" class="alignLeft">Brasilian real </td> 
<td headers="ac" class="spot"><span class="rate">3.2610</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-brl.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="BRL" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-brl.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr class="row-even"> 
<td headers="aa" id="BGN">BGN</td> 
<td headers="ab" class="alignLeft">Bulgarian lev </td> 
<td headers="ac" class="spot"><span class="rate">1.9558</span><span class="trend"><img src="../shared/img/eq.gif" width="9" height="9" alt="eq" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-bgn.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="BGN" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-bgn.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr><tr> 
<td headers="aa" id="AUD">AUD</td> 
<td headers="ab" class="alignLeft">Australian dollar </td> 
<td headers="ac" class="spot"><span class="rate">1.4336</span><span class="trend"><img src="../shared/img/up.gif" width="9" height="9" alt="up" title=""></span></td> 
<td headers="ad" class="w5"><a href="eurofxref-graph-aud.en.html"><img src="/shared/img/fxref.gif" width="19" height="15" alt="AUD" title=""></a></td> 	
<td headers="rssdata" class="w5"><a href="/rss/fxref-aud.html"><img src="/shared/img/ico_rss_sm.png" alt="RSS" title="" height="14" width="14"></a></td> 
</tr></tbody> 
</table>